<% unless cart.line_items.empty? %>
<h2><%= t('.title') %></h2>
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= convert_price(cart.total_price) %></td>
  </tr>
</table>
  <% unless @order %>
  <p><%= button_to t('.checkout'), new_order_path, :method => :get %> 
  <% end %>
  <%= button_to t('.empty'), cart, :method => :delete, :confirm => 'Are you sure?', :remote => true %></p>
<% end %>
